apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: palindrome
  name: palindrome
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: palindrome
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: palindrome
    spec:
      containers:
        - env:
            - name: GO_DB_INSTANCE
              valueFrom:
                configMapKeyRef:
                  key: GO_DB_INSTANCE
                  name: palindrome-config-ymo5
            - name: GO_DB_NAME
              valueFrom:
                configMapKeyRef:
                  key: GO_DB_NAME
                  name: palindrome-config-ymo5
            - name: GO_GIN_IP_PORT
              valueFrom:
                configMapKeyRef:
                  key: GO_GIN_IP_PORT
                  name: palindrome-config-ymo5
            - name: GO_DB_IP_ADDR
              valueFrom:
                configMapKeyRef:
                  key: GO_DB_IP_ADDR
                  name: palindrome-config-ymo5
            - name: GO_DB_IP_PORT
              valueFrom:
                configMapKeyRef:
                  key: GO_DB_IP_PORT
                  name: palindrome-config-ymo5
            - name: GO_DB_USER
              valueFrom:
                configMapKeyRef:
                  key: GO_DB_USER
                  name: palindrome-config-ymo5
            - name: GO_DB_PWD
              valueFrom:
                configMapKeyRef:
                  key: GO_DB_PWD
                  name: palindrome-config-ymo5
          image: gcr.io/thoughtworks-devops/github.com/g33kzone/go-gin-palindrome
          imagePullPolicy: IfNotPresent
          name: go-gin-palindrome-sha256-1
---
apiVersion: autoscaling/v2beta1
kind: HorizontalPodAutoscaler
metadata:
  labels:
    app: palindrome
  name: palindrome-hpa-r5ui
  namespace: default
spec:
  maxReplicas: 5
  metrics:
    - resource:
        name: cpu
        targetAverageUtilization: 80
      type: Resource
  minReplicas: 3
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: palindrome
---
apiVersion: v1
kind: Service
metadata:
  finalizers:
    - service.kubernetes.io/load-balancer-cleanup
  labels:
    app: palindrome
  name: palindrome-service
  namespace: default
spec:
  clusterIP: 10.91.249.46
  externalTrafficPolicy: Cluster
  ports:
    - nodePort: 31459
      port: 80
      protocol: TCP
      targetPort: 8080
  selector:
    app: palindrome
  sessionAffinity: None
  type: LoadBalancer
